gi
wifi

 while Gtk.events_pending():
            Gtk.main_iteration_do(True)
            
https://drive.google.com/open?id=18Dc3VD0N9JIZLbMbHsVHswSbqq63t5D8


.allset_bg{
    background-image: url("../img/done.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}