[Desktop Entry]
Name=Settings
GenericName=Settings app
Comment=Settngs app
Exec=python3 /etc/settings/__init__.py
Icon=/etc/settings/img/icon.svg
Categories=Audio;AudioVideo;
Terminal=true
Type=Application
