* {
    /*transition-property: color, background-color, border-color, background-image, padding, border-width;*/
    /*transition-duration: 1s;*/
}

window{
    background-color: white;
}

.box{

}

.welcome_label{
    font-size: 40px;
    /*background: black;*/
    background-image: url("../img/img1.png");
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    /*border-radius: 50%;*/
    /*border: 1px solid black;*/
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.welcome_label:hover,.welcome_label:focus {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.no_button{
    border-image: none;
    background-image: none;
    border-color: white;
    background: white;
    box-shadow: none;

}


.next_button{
    border-radius: 0;
    border: 0;
    border-image: none;
    background-image: url("../img/next_arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border-color: white;
    box-shadow: none;
}

.back_button{
    border-radius: 0;
    border: 0;
    border-image: none;
    background-image: url("../img/back_arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-color: white;
    background-color: white;
    box-shadow: none;
}

.software_bg{
    background-image: url("../img/setting.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.card_border{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}