window{
    background-color: white;
}

.welcome_label{
    font-size: 40px;
    background-image: url("../img/img1.png");
    background-color: white;
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.welcome_label:hover,.welcome_label:focus {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.no_button{
    border-image: none;
    background-image: none;
    border-color: white;
    background: white;
    box-shadow: none;

}



.next_button{
    border-radius: 0;
    border: 0;
    border-image: none;
    background-image: url("../img/next_arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border-color: white;
    box-shadow: none;
}


.back_button{
    border-radius: 0;
    border: 0;
    border-image: none;
    background-image: url("../img/back_arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-color: white;
    background-color: white;
    box-shadow: none;
}

.software_bg{
    background-image: url("../img/setting.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.card_border{
  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.bg_programs{
    background-image: url("../img/software_raspberry.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.focus_entry:focus, .focus_entry:hover{
    /*border-color: #C51A4A;*/
    border: 1px solid #C51A4A;
    box-shadow: 0 0 0 1px #C51A4A;
}

.allset_image{
    border-radius: 10px;
}

.allset_button{
    border-radius: 0;
    border: 0;
    border-image: none;
    background-image: url("../img/done.svg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border-color: white;
    box-shadow: none;
}

.modal{
    border: 1px solid #C51A4A;
    box-shadow: none;
    transition: 0.3s;
}

.password_label{
    font-size: 12px;
    color: #C51A4A;
}

.bottom_strip_red{
    background-image: url("../img/bottom_strip_red.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.bottom_strip_green{
    background-image: url("../img/bottom_strip_green.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.bottom_strip_blue{
    background-image: url("../img/bottom_strip_blue.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}


.update_label{
    font-size: 12px;
    color: #C51A4A;
}

.button_update{
    

}




