.scrolled_window_border{
	border: None;
}

.border{
	border: 2px solid black;
}

.border_popup{
	border: 1px solid gray;
}

.available_space_progress_bar{
	color: black;
}

.clock_bg{
	background-image: url("/opt/settings/datetime/img/clock.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
